<%- include('partials/header') %>
    <p style="text-align: center;color: red;font-size:5em ;">erreur 404: page not found ! </p>
<span style="display: flex;align-items: center;justify-content: center;">
    
<img style="width: 50vw;height: 70vh;" src="/images/devil_PNG38.png" alt="">
</span>
<%- include('partials/footer') %>
